/*to hide the scrollbar for menu*/
body, html {background:#000; -ms-scrollbar-base-color: #ffffff; scrollbar-face-color: #ffffff;}
.panel::-webkit-scrollbar { display: none; }

.main-container {
     max-width: 800px;
     background-image: url("../img/background.png");
     background-size: cover;
     background-position: center;
}
.scImg {
     background-image: url("");
     background-size: cover;
     background-position: center center;
     position: relative;
     height:300px;
     width:80%;
     margin: 0 auto;
     background-repeat:no-repeat;
     -webkit-background-size:cover;
     -moz-background-size:cover;
     -o-background-size:cover;
}
.theEnd {
     background: rgba(0,0,0,0.3);
     color:#fff;
}
.theEndBox {
     opacity:0;
}
.downArrow {
     animation: blinker 2s linear infinite;
   }   
@keyframes blinker {
     50% {
       opacity: 0;
     }
   }
.info-background {
     position: absolute;
     top:0px;
     left:0px;
     width: 100%;
     height:100%;
     background: rgba(0,0,0,0.4);
     display:none;
}
.info-box {
     color:#212529;
     background:#fbcd57;
     z-index: 5;
     position: absolute;
     bottom:15px;
     left: 50%;
     transform: translate(-50%);
     display:none;
}
.scenarioBox {
     position: absolute;
     bottom:20px;
     width: 100%;
}
.scenario {
     display:none;
}
.panel {
     color:#ffffff;
     position: relative;
     width: 100%;
     max-width: 800px;
     -webkit-overflow-scrolling: touch;
     -webkit-box-shadow: 0 0px 0px rgba(0,0,0,0);
}

.story-links a {
     color:#007bff;
     text-decoration: underline;
}

.endPanel {
     display: none;
}

.homeCredits {
     max-width: 800px;
     background-color: #fff;
}

#btnReplay, #btnOther {
     background-color: #3f5593;
     color:#fff;
}

.share-icons {
     color:#3f5593;
     font-size: 3em;
}

.character-name {
     position:absolute;
     left: 50%;
     transform: translate(-50%);
     bottom:0px;
     background-color:rgba(0, 0, 0, 0.3);
     padding:0px 2px;
     border-radius: 2px;
     width: 50%;
}

.character-box{
     border: 2px solid rgba(0, 0, 0, 0);
     border-radius: 5px;
}

.character-box:hover {
     border-color: #fbcd57;
     cursor: pointer;
}

@media (max-width: 500px ) { 
     .container {max-width: 500px;}
     .btnOpt {width: 100%;}
}

@media only screen and (orientation: portrait) {
     .scImg {width: 100%;}
   }